################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/usb64/v16
/usb64/bin
/usb64/obj
